{% include lang.html %}

<div id="memset0x3f-banner" class="banner">
  <svg
  viewBox="0 0 211.66666 92.604167"
  version="1.1"
  id="svg1">
    <defs id="defs1" />
    <g id="layer1"
       transform="translate(-21.140106,-17.640104)">
      <path
          style="display:inline;fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 21.999787,58.943443 41.994771,18.953479 h 9.997492 19.994981 V 58.943443 H 91.982225 L 111.97719,18.953479 h 29.99248 v 39.989964 h 29.99247 V 38.948461 H 151.96717 V 18.953479 h 29.99247 34.99122 14.99623"
          id="path1" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 51.992263,18.953479 V 58.943443"
          id="path2" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 71.987244,18.953479 h 20.4483"
          id="path3" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 71.987244,38.948461 H 91.982225"
          id="path4" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 121.97468,18.953479 V 58.943443"
          id="path5" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 181.95964,18.953479 v 39.989964 h 19.99497"
          id="path6" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 181.95964,38.948461 h 19.99497"
          id="path7" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 216.95086,18.953479 V 58.943443"
          id="path8" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 31.997278,68.940934 -9.997491,9.997491 v 19.994982 l 9.997491,9.997493"
          id="path9" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 41.994771,68.940934 V 108.9309 H 61.989752 V 68.940934 H 41.994771"
          id="path10" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 41.994771,98.933407 61.989752,78.938425"
          id="path11" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 71.987244,88.935916 91.982225,108.9309"
          id="path12" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 91.982225,88.935916 71.987244,108.9309"
          id="path13" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 101.97971,68.940934 h 19.99497 V 108.9309 h -19.99497"
          id="path14" />
      <path
          style="fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="M 121.97468,88.935916 H 101.97971"
          id="path15" />
      <path
          style="display:inline;fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 151.96717,68.940934 h -19.995 V 108.9309"
          id="path16" />
      <path
          style="display:inline;fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 131.97217,88.935916 h 19.995"
          id="path17" />
      <path
          style="display:inline;fill:none;stroke:#ffffff;stroke-width:1.71936;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 161.96465,68.940934 9.99749,9.997491 v 19.994982 l -9.99749,9.997493"
          id="path18" />
      <path
          style="display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.10799;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
          d="m 181.95964,108.9309 h 19.99497 v -2.43627 h -19.99497 z"
          id="path19" class="no-stroke blink" />
    </g>
  </svg>

  <script>
        var paths = document.querySelectorAll("svg g path");
        paths = Array.from(paths).filter((path) => !path.classList.contains("no-stroke"));
        paths.forEach((path) => {
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = "none";
          path.style.strokeDasharray = length + " " + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.opacity = 1;
          path.style.animation = "fadeIn 2s";
          path.style.transition = path.style.WebkitTransition =
            "stroke-dashoffset 3s cubic-bezier(0.87, 0, 0.13, 1)";
          path.style.strokeDashoffset = "0";
        });
  </script>

  <p>{{ site.data.locales[lang].memset-slogan }}</p>

  <div class="button-group">

    <div class="button-subgroup">
      <div class="fake-button button-bili">
        <a href="https://space.bilibili.com/40201225/channel/collectiondetail?sid=1058210">
          <i class="fa-brands fa-bilibili"></i>
          Bilibili
        </a>
      </div>
      <div class="fake-button button-yt">
        <a href="https://www.youtube.com/@memset_0x3f">
          <i class="fa-brands fa-youtube"></i>
          YouTube
        </a>
      </div>
    </div>

    <div class="button-subgroup">
      <div class="fake-button button-ncm">
        <a href="https://music.163.com/#/artist?id=61854940">
          <i class="fa-solid fa-compact-disc"></i>
          {{ site.data.locales[lang].ncm }}
        </a>
      </div>
      <div class="fake-button button-bc">
        <a href="https://memset0x3f.bandcamp.com/">
          <i class="fa-brands fa-bandcamp"></i>
          Bandcamp
        </a>
      </div>
    </div>

  </div>

  <p>
    <i class="fa-solid fa-caret-down"></i>
    {{ site.data.locales[lang].memset-scroll-down }}
  </p>

</div>
