#home-banner {
  background-image: url(/assets/img/overlay.png),
    url(https://static.robomico.cn/homepage-bg.png);
  line-height: 1.75;
  #banner-content {
    color: white;
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }
}
