{% include lang.html %}
<banner id="memset-banner">
  <svg
    width="720"
    viewBox="0 0 254 254"
    version="1.1"
    class="memset-logo"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs1" />
    <g id="layer1">
      <path
        style="
              display: inline;
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 20,120 40,80 h 10 20 v 40 H 90 L 110,80 h 30 v 40 h 30 V 100 H 150 V 80 h 30 35 15"
        id="path1"
        class="stroke"
        sodipodi:nodetypes="cccccccccccccccc" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 50,80 v 40"
        class="stroke"
        id="path2" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 70,80 H 90.453434"
        class="stroke"
        id="path3" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 70,100 H 90"
        class="stroke"
        id="path4" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 120,80 v 40"
        class="stroke"
        id="path5" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 180,80 v 40 h 20"
        class="stroke"
        id="path6" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 180,100 h 20"
        class="stroke"
        id="path7" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 215,80 v 40"
        class="stroke"
        id="path8" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 30,130 -10,10 v 20 l 10,10"
        class="stroke"
        id="path9" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 40,130 v 40 H 60 V 130 H 40"
        class="stroke"
        id="path10" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 40,160 60,140"
        class="stroke"
        id="path11" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 70,150 20,20"
        class="stroke"
        id="path12" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 90,150 70,170"
        class="stroke"
        id="path13" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 100,130 h 20 v 40 H 100"
        class="stroke"
        id="path14" />
      <path
        style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 120,150 H 100"
        class="stroke"
        id="path15" />
      <path
        style="
              display: inline;
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 150,130 h -20 v 40"
        class="stroke"
        id="path16" />
      <path
        style="
              display: inline;
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="M 130,150 H 150"
        class="stroke"
        id="path17" />
      <path
        style="
              display: inline;
              fill: none;
              stroke: #ffffff;
              stroke-width: 1.8;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
            "
        d="m 160,130 10,10 v 20 l -10,10"
        class="stroke"
        id="path18" />
      <path
        style="
              display: inline;
              fill: #ffffff;
              fill-opacity: 1;
              stroke: none;
              stroke-width: 1.10827;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: none;
              stroke-opacity: 1;
              opacity: 0;
              animation: fadeIn 1s 1.5s, blink 1.5s infinite steps(1, start) 2s;
            "
        d="m 180,170 h 20 v -2.43688 H 180 Z"
        id="path19" />
    </g>
  </svg>
  <script>
        var paths = document.querySelectorAll(".stroke");
        paths.forEach((path) => {
          var length = path.getTotalLength();
          path.style.transition = path.style.WebkitTransition = "none";
          path.style.strokeDasharray = length + " " + length;
          path.style.strokeDashoffset = length;
          path.getBoundingClientRect();
          path.style.opacity = 1;
          path.style.animation = "fadeIn 2s";
          path.style.transition = path.style.WebkitTransition =
            "stroke-dashoffset 3s cubic-bezier(0.87, 0, 0.13, 1)";
          path.style.strokeDashoffset = "0";
        });
  </script>
  <p>{{ site.data.locales[lang].memset-slogan }}</p>
  <div class="button-group">
    <div class="fake-button button-bili">
      <a href="https://space.bilibili.com/40201225/channel/collectiondetail?sid=1058210">
        <i class="fa-brands fa-bilibili"></i>
        Bilibili
      </a>
    </div>
    <div class="fake-button button-yt">
      <a href="https://www.youtube.com/@memset_0x3f">
        <i class="fa-brands fa-youtube"></i>
        YouTube
      </a>
    </div>
    <div class="fake-button button-ncm">
      <a href="https://music.163.com/#/artist?id=61854940">
        <i class="fa-solid fa-compact-disc"></i>
        {{ site.data.locales[lang].ncm }}
      </a>
    </div>
  </div>
</banner>