<!-- The Top Bar -->
{% include lang.html %}
<header id="topbar-wrapper" aria-label="Top Bar">
  <div id="topbar" class="align-items-center justify-content-between px-lg-3 h-100">

    <div id="topbar-site-title" class="mobile-hide">
      {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
      <img
        src="{{- avatar_url -}}"
        id="avatar"
        alt="avatar"
        style="border-radius: 50% !important;"
        onerror="this.style.display='none'">
      <div id="title-name">{{ site.title }}</div>
    </div>
    <div id="topbar-navbar" class="mobile-hide">
      {% for entry in site.data.navbar %}
        <nav
          id="nav-{{ entry.name }}"
          {% if entry.dropdown %}
          class="with-dropdown"
          {% endif %}>
          <a href="{% include get-url-in-lang.html url=entry.url lang=lang %}">
            <i class="{{ entry.icon }}"></i>
            {{ site.data.locales[lang].tabs[entry.name] }}
          </a>
          {% if entry.dropdown %}
            <div class="dropdown-menu">
              {% for subentry in entry.dropdown %}
                <a href="{% include get-url-in-lang.html url=subentry.url lang=lang %}">
                  <i class="{{ subentry.icon }}"></i>
                  {{ site.data.locales[lang].tabs[subentry.name] }}
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </nav>
      {% endfor %}

      <nav id="nav-links" class="with-dropdown">
        <a data-proofer-ignore>
          <i class="fa-solid fa-link"></i>
          {{ site.data.locales[lang].tabs.links }}
        </a>
        <div class="dropdown-menu">
          {% for entry in site.data.contact %}
            {% case entry.type %}
              {% when 'github'
                , 'twitter' %}
                {%- capture url -%}
                  https://{{ entry.type }}.com/{{ site[entry.type].username }}
                {%- endcapture -%}
              {% when 'email' %}
                {% assign email = site.social.email | split: '@' %}
                {%- capture url -%}
                  javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
                {%- endcapture -%}
              {% when 'rss' %}
                {%- capture rss_url -%}
                  {% include get-rss-feed.html lang = lang %}
                {%- endcapture -%}
                {%- capture url -%}
                  {{ rss_url | relative_url }}
                {%- endcapture -%}
              {% else %}
                {% assign url = entry.url %}
            {% endcase %}

            {% if url %}
              <a
                href="{{ url }}"
                aria-label="{{ entry.type }}"
                {% assign link_types = '' %}
                {% unless entry.noblank %}
                target="_blank"
                {% assign link_types = 'noopener noreferrer' %}
                {% endunless %}
                {% if entry.type == 'mastodon' %}
                {% assign link_types = link_types | append: ' me' | strip %}
                {% endif %}
                {% unless link_types == empty %}
                rel="{{ link_types }}"
                {% endunless %}>
                <i class="{{ entry.icon }}"></i>
                {{ site.data.locales[lang].contacts[entry.type] }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>
    <div id="topbar-options" class="mobile-hide">
      <a
        type="button"
        class="btn btn-link nav-link"
        aria-label="View Source"
        id="view-source"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-original-title="{{ site.data.locales[lang].buttons.view-source }}"
        href="{{ site.repo_url }}/tree/main/{{ page.path }}?plain=1">
        <i class="fa-solid fa-code"></i>
      </a>
      <button
        type="button"
        class="btn btn-link nav-link"
        aria-label="Switch Mode"
        id="mode-toggle"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-original-title="{{ site.data.locales[lang].buttons.switch-theme }}">
        <i class="fas fa-adjust"></i>
      </button>
      <a
        type="button"
        class="btn btn-link nav-link"
        aria-label="Switch Language"
        id="lang-toggle"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-original-title="{{ site.data.locales[lang].buttons.switch-language }}"
        href="{% include get-url-switch-lang.html lang=lang url=page.url %}"
        data-proofer-ignore>
        <i class="fa-solid fa-language"></i>
      </a>
    </div>

    <div id="topbar-mobile-menu" class="mobile-show">
      <button
        type="button"
        id="sidebar-trigger"
        class="btn btn-link">
        <i class="fas fa-bars fa-fw"></i>
      </button>
    </div>

    <div id="topbar-mobile-title" class="mobile-show">
      {{ page.title }}
    </div>

    <div id="topbar-mobile-language" class="mobile-show">
      <a
        type="button"
        class="btn btn-link nav-link"
        aria-label="Switch Language"
        id="lang-toggle-m"
        href="{% include get-url-switch-lang.html lang=lang url=page.url %}"
        data-proofer-ignore>
        <i class="fa-solid fa-language"></i>
      </a>
    </div>
  </div>
</header>
