@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#topbar-wrapper {
  height: v.$topbar-height;
  background-color: var(--topbar-bg);
  z-index: 10085 !important;
  box-shadow: 1px 2px 2px var(--topbar-shadow);

  @include bp.lt(bp.get(lg)) {
    @include mx.slide(top 0.2s ease);

    height: v.$topbar-height-mobile;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

#topbar {
  @extend %btn-color;

  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);

  #topbar-site-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: inherit;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--text-color);

    #avatar {
      width: 3rem;
      height: 3rem;
    }
  }

  #topbar-navbar {
    display: flex;
    height: 100%;
    align-items: center;

    nav {
      margin-left: 1rem;
      margin-right: 1rem;

      a {
        @extend %clickable-transition;

        color: var(--text-color);

        &:hover {
          @extend %link-hover;

          border-bottom: 0;
        }
      }
    }

    .with-dropdown {
      .dropdown-menu {
        @extend %clickable-transition;

        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        display: block;
        position: absolute;
        background: var(--topbar-bg);

        a {
          display: block;
          text-decoration: none;
          position: relative;
          padding: 0.75rem 0.75rem;
        }
      }

      &:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0.5rem);
      }
    }
  }

  #topbar-options {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3rem;

    .btn {
      @extend %clickable-transition;

      margin-right: 1rem;

      &:hover {
        @extend %link-hover;

        border-bottom: 0;
      }
    }
  }

  #topbar-mobile-menu {
    justify-content: flex-start;
  }

  #topbar-mobile-title {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: sans-serif;
    color: var(--topbar-text-color);
    text-align: center;
    justify-content: flex-start;
  }

  #topbar-mobile-language {
    justify-content: flex-end;
    margin-right: 1rem;
    display: flex;

    a {
      @extend %clickable-transition;

      &:hover {
        @extend %link-hover;

        border-bottom: 0;
      }
    }
  }
}

#topbar-title {
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: center;
  width: 70%;
  word-break: keep-all;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }

  @include bp.lg {
    text-align: left;
  }
}

#sidebar-trigger,
#search-trigger {
  display: none;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }
}
